:root{
    --border: 1px solid #fff3f31a;
}

body, table, input, button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: 300 16px/140% 'Roboto', sans-serif;
}


fieldset{
    border: none;
}




tbody td button:hover{
    text-decoration: underline;
}

#inscricao button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: .2s;
    margin: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300px;
    transition: .3s;
}





.centralize{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inscricao button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgb(255, 0, 0);
}

header{
    padding: 40px;
}

.table{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid black;
    background-color: rgb(255, 7, 7);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;

}




form{
    border: var(--border);
    border-inline: none;
    padding: 20px 0;
}


.input-wrapper input{
    border-radius: 10px;
    display: flex;
    width: 500px;
    height: 50px;
    
}

.input-wrapper2 input{
    border-radius: 10px;
    display: flex;
    width: 500px;
    height: 50px;
    margin-top: 30px;
}


form fieldset button{
    margin-left: 150px;
    margin-top: 20px;
}



form fieldset div{
    display: block;
}
.input-wrapper i{
    color: white;
}

#email-input{
    margin-top: 10px;
}

/*footer*/

footer{
    padding: 20px 4%;
    box-shadow: 0 0 20px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer {
    padding: 20px 0;
}


.borda{
    border-top: 2px solid blue;
}

footer .line-footer p i{
    color: #370795;
    font-size: 22px;
}

footer .line-footer p a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer .line-footer h2{
    color: rgb(0, 0, 0);
    font-size: 38px;
    line-height: 40px;
    font-family: monospace;
}

.btn-social button{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    background-color: rgb(13, 0, 255);
    cursor: pointer;
    transition: .2s;
    margin: 10px;
}

#logo-uepa{
    width: 90px;
}

/*header*/

header{
    width: 100%;
    padding: 5px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 2000;
    background-color: rgb(253, 253, 253);
    border-bottom: 2px solid blue;
}

#logo-gov{
    width: 80px;
    float: let;
}

.flexheader{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

section.topo-do-site .flex{
     align-items: center;
     justify-content: center;
     padding: 0 150px;
     
}

.flex{
    display: flex;
}

section.topo-do-site .flex .txt-topo-site h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2px;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: 1200px;
    margin-top: -100px;

}

header.rolagem{
background-color: rgba(0, 0, 0, 0.288);
padding: 0px 4%;
border-bottom: 1px solid rgba(0, 0, 255, 0.541);
}

header ul{
list-style-type: none;
}

header ul li{
display: inline-block;
margin: 0 20px;
transition: .3s;
}

header ul li:hover{
border-bottom: 4px solid rgb(13, 0, 255);
transform: scale(1.10)
}

header ul li a{
color: rgb(255, 0, 0);
text-decoration: none;
font-weight: 900;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title-about h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: 1200px;    
    margin-top: 150px;
}

#title-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-about2 h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-weight: 1200px;    
    margin-top: 150px;
}

#title-about2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.assunto-select select{
    margin-bottom: 30px;
    max-width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .2s;
    margin: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300px;
    transition: .3s;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
    height: 20px;
}

@media screen and (max-width: 1230px){
    #logo-uepa{
        display: none;
    }
}

